Django
django-debug-toolbar
django-extensions
django-redis-cache
ipdb
ipython
pypdf2
psycopg2
pyparsing
pytz
redis
requests
selenium
sorl-thumbnail
django-autocomplete-light
awesome-slugify
fuzzywuzzy
python-Levenshtein
raven
awscli
